{% extends '../../base.html.twig' %}

{% block title %}Edit Sitter{% endblock %}

{% block body %}
    <h1>Edit Sitter</h1>

    {{ include('sitter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sitter_index') }}">back to list</a>

    {{ include('sitter/_delete_form.html.twig') }}
{% endblock %}
