<form method="post" action="{{ path('app_affordable_package_delete', {'id': affordable_package.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affordable_package.id) }}">
    <button class="btn">Delete</button>
</form>
