{% extends 'base.html.twig' %}

{% block title %}New AffordablePackage{% endblock %}

{% block body %}
    <h1>Create new AffordablePackage</h1>

    {{ include('affordable_package/_form.html.twig') }}

    <a href="{{ path('app_affordable_package_index') }}">back to list</a>
{% endblock %}
